<div class="account-container">
  <h1><%- title %></h1>
  <% if (messages.notice) { %>
    <div class="notice <%= messages.notice.includes('error') ? 'error' : '' %>">
      <%= messages.notice %>
    </div>
    <% } %>

      <% if(locals.accountData.account_type=="Client" ) { %>
        <div class="section">
          <h2>Welcome <%- locals.accountData.account_firstname %></h2>
          <p><a href="/account/update/<%- locals.accountData.account_id %>">Update account information</a></p>
        </div>
        <% } else if(locals.accountData.account_type=="Employee" || locals.accountData.account_type=="Admin" ) { %>
          <div class="section">
            <h2>Welcome <%- locals.accountData.account_firstname %></h2>
            <p><a href="/account/update/<%- locals.accountData.account_id %>">Update account information</a></p>
          </div>

          <div class="section">
            <h3>Inventory Management</h3>
            <p><a href="/inv/">Manage Inventory</a></p>
          </div>
          <% } %>

            <% if(locals.loggedin) { %>
              <div class="section">
                <h2>Messaging Center</h2>
                <div class="message-stats">
                  <p>You have <%- unread %> new messages</p>
                  <a href="/message">Go to inbox</a>
                </div>
              </div>
              <% } %>
</div>

<h3>You're logged in</h3>